
.delete {
	display: inline-block;
	padding: 10px 15px;
	font-size: 10px;
	font-weight: 700;
	margin-left: 83%;
	color: #FFF;
	border-radius: 2px;
	border: none;
	outline: none;
	appearance: none;
	cursor: pointer;
	text-transform: uppercase;
	background: linear-gradient(to right, white 50%,  black 50%);
	background-size: 200% 100%;
	background-position: right bottom;
	transition: all .3s ease-out;
}

.delete:hover {
	
	background-position: left bottom;
}

.cartPage{
	
		width: 750px;
		height: 550px;
        margin: auto;
		background: #FFFFFF;
		box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.10);
		border-radius: 6px;
		display: flex;
		flex-direction: column;
}

.cartField{
	margin-top: 35px;
	margin-left: 35px;
}

