
  .forumWrap ul {
	font-family: "Roboto", sans-serif;
	outline: 0;
	background: #f2f2f2;
	width: 100%;
	border: 0;
	margin: 0 0 15px;
	padding: 15px;
	box-sizing: border-box;
	font-size: 14px;
	border: 1px solid black;
  }

  .forumWrap p{

	font-family: "Roboto", sans-serif;
	outline: 0;
	background: #f2f2f2;
	width: 100%;
	border: 0;
	margin: 0 0 15px;
	padding: 15px;
	box-sizing: border-box;
	font-size: 14px;
  }

  .forumWrap button {
	font-family: "Roboto", sans-serif;
	text-transform: uppercase;
	outline: 0;
	background: #4CAF50;
	width: 100%;
	border: 0;
	padding: 15px;
	color: #FFFFFF;
	font-size: 14px;
	-webkit-transition: all 0.3 ease;
	transition: all 0.3 ease;
	cursor: pointer;
  }

  .forum-page {
	width: 550px;
	padding: 11% 0 0;
	margin: auto;
  }
  .posts {
	position: relative;
	z-index: 1;
	background: #FFFFFF;
	max-width: 700px;
	margin: 0 auto 100px;
	padding: 45px;
	text-align: center;
	border-radius: 25px;
	opacity: 90%;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }

  .forum-page input {
	font-family: "Roboto", sans-serif;
	outline: 0;
	background: #f2f2f2;
	width: 100%;
	border: 0;
	margin: 0 0 15px;
	padding: 15px;
	box-sizing: border-box;
	font-size: 14px;
  }

  .forum-page textarea{
	font-family: "Roboto", sans-serif;
	outline: 0;
	background: #f2f2f2;
	width: 100%;
	border: 0;
	margin: 0 0 15px;
	padding: 15px;
	box-sizing: border-box;
	font-size: 14px;
  }

  .forum-page button {
	font-family: "Roboto", sans-serif;
	text-transform: uppercase;
	outline: 0;
	background: #ADD8E6;
	width: 100%;
	border: 0;
	padding: 15px;
	color: #FFFFFF;
	font-size: 14px;
	-webkit-transition: all 0.3 ease;
	transition: all 0.3 ease;
	cursor: pointer;
  }
  .forum-page button:hover,.form button:active,.form button:focus {
	background:  rgba(22,76,167,0.6);
  }
  
  .forum-page p {
	  margin : 15px 0 0;
	  color: #b3b3b3;
	  font-size: 12px;
	  
  }

   
  #title{
	color: white;
	font-size: 20px;
	display: flex;
	justify-content: center;
	text-transform: uppercase;
	margin-bottom: 20px;
	
}